h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 479px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  padding-top: 38px;
  padding-bottom: 38px;
  position: absolute;
  z-index: 1;
}

.logo {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  z-index: 5;
  margin-left: 920px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.6;
  color: #ffffff;
  margin-top: 9px;
}

.banner {
  width: 1920px;
  height: 800px;
  position: relative;
  background-image: url(/images/main_bg.jpg);
}

.banner h1 {
  padding-top: 196px;
  color: #f9bf3b;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 41px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.simply {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 80px;
  line-height: 1;
  color: #ffffff;
}

.simply::before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 292px;
  height: 2px;
  background-color: #ffffff;
  margin-right: 20px;
}

.simply::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 292px;
  height: 2px;
  background-color: #ffffff;
}

.banner h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 41px;
  color: #f9bf3b;
  line-height: 1;
  text-align: center;
  margin-bottom: 22px;
}

.content {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 21px;
  color: #ffffff;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 72px;
}

.banner strong {
  font-weight: 700;
  color: #f9bf3b;
}

.banner button {
  padding: 24px 21px 24px 8px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto", sans-serif;
  line-height: 1.14;
  background: liner gradient rgb(39, 152, 185), rgb(58, 182, 218);
}/*# sourceMappingURL=main.css.map */